[data]
mslist = mslist.txt
colname = DATA

[control]
bootstrap = False
#  Remove all pipeline-generated columns before the run
remove_colums = True
restart = False
skip_di = True

[image]
imsize = 2400
# apply_weights = [False, False, False, False]
centralfreqs = [144]

[bootstrap]
# catalogues = []

[masking]
external_fits_mask = None
tgss = None
use_maskdiffuse = False

[solutions]
ndir = 20
do_very_slow = False

[machine]
NCPU_DDF = 96
NCPU_killms = 96