[Data]
MS = /path/to/MS # MS Set
sort = 1  # ?
ColName = DATA  # 
ChunkHours = 2  # ?

# Use this to relaunch from a previous result:
# [Predict]
# /hs/fs08/data/group-brueggen/tmartinez/sky_maps/test_map_80/ddf/test_map_80_ddf.DicoModel

[Selection]
AutFlagNyquist = True  # Flag baselines that are below resolution limit

[Freq]
NBands = 1  # Number of gridding bands in inner loop (= dimensions of output cube)
NDegridBand = 0  # Number of bands to degrid (0 = All)

[Parallel]
NCPU = 96

[Cache]
Reset = 1  # This affects dirty image and psf

[Output]
Mode = Predict  # For testing: Dirty
Name = /path/with/prefix  # Path + Name (will be prefix)
StokesResidues = I
Cubes = DdRrMmlCc  # ?
RestoringBeam = 6 # 

[Predict]
ColName = DATA
# MaskSquare = 
FromImage = /path/to/image
Overwrite = 1

[Beam]
Model = LOFAR
LOFARBeamMode = A
CenterNorm = True

[Deconv]
MaxMajorIter = 3
MaxMinorIter = 1000000
Mode = Hogbom  # Check in LoTSS-DR2 paper
Gain = 0.1
RMSFactor = 3.0
PeakFactor = 0.01  # For each major iteration

[HMP]
AllowResidIncrease = 1.0

[Mask]
# External = /path/to/mask

[Hogbom]
LinearPeakfinding = Separate

[Image]
Cell = 1.5  # Pixel size in arcsec

[Facets]
NFacets = 11
DiamMax = 0.3
DiamMin = 0.03

[RIME]
PolMode = I
DecorrMode = FT
